doctype html
html(ng-app="chatApp")
	head
		title ChatRoom

		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")

		script(src='/public/components/platform/platform.js')
		link(rel='import', href='/public/components/core-drawer-panel/core-drawer-panel.html')
		link(rel='import', href='/public/components/core-header-panel/core-header-panel.html')
		link(rel='import', href='/public/components/core-toolbar/core-toolbar.html')
		link(rel='import', href='/public/components/core-menu/core-menu.html')
		link(rel='import', href='/public/components/core-item/core-item.html')
		link(rel='import', href='public/components/core-icons/core-icons.html')
		link(rel='import', href='public/components/core-icon-button/core-icon-button.html')
		link(rel='import', href='/public/components/paper-icon-button/paper-icon-button.html')
		link(rel='import', href='/public/components/paper-input/paper-input.html')
		link(rel='stylesheet', href='/public/res/style.css')

	body(ng-controller='ChatCtrl')
		core-drawer-panel#drawerPanel
			core-header-panel(drawer='drawer')
				core-toolbar#navheader
					span Users
				core-menu
					core-item(ng-repeat='user in users', label='{{user}}')

			core-header-panel(main='main')
				core-toolbar#mainheader
					paper-icon-button#navicon(icon='menu')
					span(flex='flex')
						core-icon-button(ng-click='edit()', icon='account-circle', title='Click to change name')
							span {{name}}
				.content(vertical='vertical', layout='layout')
					.chat(flex='flex')
						ul#messages
							li(ng-repeat='message in messages', ng-class='message.provider')
								<b>{{message.name}}:</b> {{message.message}}

					p#typing {{typing}}

					.input
						textarea#msg(ng-keypress='sendMessage($event)', ng-model='message' placeholder='Write something funny')

		script(src='/public/components/angular/angular.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/public/components/jquery/dist/jquery.min.js')
		script(src='/public/js/app.js')
		script(src='/public/js/services.js')
		script(src='/public/js/controllers.js')
		script(src='/public/components/ng-polymer-elements/ng-polymer-elements.min.js')