body {
	font-family: sans-serif;
}
core-header-panel {
	background: white;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
}
.chat {
	padding: 20px;
	overflow: auto;
}

.input {
	position: relative;
	padding: 0 20px;
}
.input paper-input {
	width: 100%;
}

#messages {
	margin: 0;
	list-style: none;
}
#messages li {
	padding: 5px 0;
}
#messages li.chatroom {
	font-style: italic;
	font-size: 0.9em;
	color: #555;
}
#messages li.chatroom b {
	display: none;
}

core-drawer-panel:not([narrow]) #navicon {
	display: none;
}